<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Rezolver IOC Framework</title>
    @*<meta property="docfx:navrel" content="@Url.Content("~/developers/toc.html")" />
    <meta property="docfx:tocrel" content="@Url.Content("~/developers/toc.html")" />
    <meta property="docfx:rel" content="@Url.Content("~/developers/")" />*@
    <link rel="shortcut icon" href="~/favicon.ico">
    <link rel="apple-touch-icon" sizes="57x57" href="~/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="~/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="~/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="~/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="~/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="~/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="~/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="~/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="~/apple-touch-icon-180x180.png">
    <link rel="icon" type="image/png" href="~/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="~/android-chrome-192x192.png" sizes="192x192">
    <link rel="icon" type="image/png" href="~/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="~/favicon-16x16.png" sizes="16x16">
    <link rel="mask-icon" href="~/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-TileImage" content="~/mstile-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <environment include="Development">
        <link rel="stylesheet" href="~/developers/styles/docfx.vendor.css" type="text/css" />
        <link rel="stylesheet" href="~/developers/styles/docfx.css" type="text/css" />
        <link rel="stylesheet" href="~/developers/styles/main.css" type="text/css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="~/developers/styles/docfx.vendor.css" type="text/css" asp-append-version="true" />
        <link rel="stylesheet" href="~/developers/styles/docfx.css" type="text/css" asp-append-version="true" />
        <link rel="stylesheet" href="~/developers/styles/main.css" type="text/css" asp-append-version="true" />
    </environment>
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">Rezolver.Docs</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="About">About</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="Contact">Contact</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <partial name="_CookieConsentPartial" />

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; 2018 - Rezolver.Docs</p>
        </footer>
    </div>

    <environment include="Development">
        @* contains jquery and bootstrap *@
        <script type="text/javascript" src="~/developers/styles/docfx.vendor.js"></script>
        @* docfx scripts*@
        <script type="text/javascript" src="~/developers/styles/docfx.js"></script>
        <script type="text/javascript" src="~/developers/styles/main.js"></script>
    </environment>
    <environment exclude="Development">
        @* contains jquery and bootstrap *@
        <script type="text/javascript" src="~/developers/styles/docfx.vendor.js" asp-append-version="true"></script>
        @* docfx scripts*@
        <script type="text/javascript" src="~/developers/styles/docfx.js" asp-append-version="true"></script>
        <script type="text/javascript" src="~/developers/styles/main.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
